body {
    background-color: #E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.app {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.app img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 15%;
    height: auto;
    animation: rotate-anime 5s linear infinite;
}

@keyframes rotate-anime {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.input {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    top: 70%;
    text-align: center;
    visibility: hidden;
}