@font-face {
    font-family: "digital";
    src: url("../fonts/LettersLaughingattheirExecution.ttf") format("truetype");
}

body {
    background-color: lightgray;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: "digital";
}

.app {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 16px;
}

#main_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 480px;
    width: 640px;
    transform-origin: 0 0;
}

#header {
    position: relative;
    width: 640px;
    height: 30px;
    line-height: 30px;
}

#title {
    width: 50%;
    float: left;
}

#score_container{
    margin-right: 1em;
    margin-left: 1em;
    float: right;
}

#score_title {
    margin-right: 0.5em;
    float: left;
}

#score {
    float: left;
}

#rest_container {
    margin-right: 1em;
    margin-left: 1em;
    float: right;
}

#rest_title {
    margin-right: 0.5em;
    float: left;
}

#rest_blocks {
    float: left;
}


#board {
    position: relative;
    left: 0;
    top: 0;
    width: 640px;
    height: 320px;
    font-size: 0;
    background-color: black;
}

.block {
    width: 32px;
    height: 32px;
}

#footer {
    position: relative;
    width: 640px;
    height: 30px;
    padding-top: 4px;
    background-color: lightgray;
}

.counter {
    float: left;
    width: 65px;
}

.counter_block {
    width: 16px;
    height: 16px;
}